<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Podatkova</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:insert="blocks/header :: header"></div>




    <div class="container mt-5">
        <h1>Список звітів</h1>

        <div th:each="el : ${users}" class="alert alert-info mt-2">

            <h3 Name ></h3>

            <p th:text="${el.name}"></p>

            <a th:href="'/report/' + ${el.id}" class="btn btn-warning"> Переглянути звіт </a>

        </div>
    </div>

</body>
</html>