<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{front.tax}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:insert="blocks/header-client :: header"></div>


<div class="container mt-5 mb-5">
    <h1 th:text="#{front.newReport}"></h1><br><br>

<!--    <form action="/client/report/add" method="post">-->
        <form action="#" th:action="@{/client/report/add}" th:object="${reportDTO}" method="post">

        <h3 th:text="#{report.topic}"></h3>
        <input type="text" name="nameOfReport" placeholder="Write the topic of the report" class="form-control"><br>


        <h3 th:text="#{payer.lastName}"></h3>
        <input type="text" name="lastName" placeholder="Enter your last name" class="form-control"><br>

        <h3 th:text="#{payer.firstName}"></h3>
        <input type="text" name="firstName" placeholder="Enter your first name" class="form-control"><br>

        <h3 th:text="#{payer.middleName}"></h3>
        <input type="text" name="middleName" placeholder="Enter your middle name" class="form-control"><br>

        <h3 th:text="#{payer.email}"></h3>
            <input type="text" name="email" placeholder="Enter your middle name" class="form-control"><br>
<!--                <input type="text" name="*{email}" name="email" placeholder="Enter your email" class="form-control"><br>-->
<!--                <input type="text"  th:field="*{email}" placeholder="Enter your email" class="form-control"><br>-->
<!--                <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>-->

        <h3 th:text="#{report.create}"></h3>
        <textarea name="report" placeholder="Write your report here" class="form-control" rows="5" cols="33"></textarea><br>

        <button type="submit" class="btn btn-success"><span th:text="#{report.submit}"></span></button>
    </form>
</div>
</body>
</html>