<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{front.tax}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:insert="blocks/header-client :: header"></div>

<div class="container mt-5 mb-5">
    <div th:each="el : ${editReport}">
        <h2 th:text="#{report.editReport}"></h2>
        <br>
        <form action="/client/report/edit" method="post" >  <!--        action=""-->

            <input type="hidden" th:value="${el.id}" name="id"  class="form-control"><br>

            <h4 th:text="#{front.topic}"></h4>
            <input type="text" th:value="${el.nameOfReport}" name="nameOfReport" placeholder="Write the topic of the report" class="form-control"><br>

            <h4 th:text="#{client.lastName}"></h4>
            <input type="text" th:value="${el.firstname}" name="firstname" placeholder="Enter your firstname" class="form-control"><br>

            <h4 th:text="#{client.firstName}"></h4>
            <input type="text" th:value="${el.name}" name="name" placeholder="Enter your name" class="form-control"><br>

            <h4 th:text="#{client.middleName}"></h4>
            <input type="text" th:value="${el.lastname}" name="lastname" placeholder="Enter your lastname" class="form-control"><br>

            <h4 th:text="#{client.email}"></h4>
            <input type="text" th:value="${el.email}" name="email" placeholder="Enter your email" class="form-control"><br>

            <h4 th:text="#{front.report}"></h4>
            <textarea name="report"  th:text="${el.report}" placeholder="Write your report here" class="form-control" rows="5" cols="33">
            </textarea><br>

            <button type="submit" class="btn btn-success"> <span th:text="#{report.saveEdit}"></span> </button>

        </form>
    </div>
</div>

</body>
</html>