<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{front.tax}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:insert="blocks/header-inspector :: header"></div>

<div class="container mt-5">
    <h1>Список звітів</h1>

    <div>
        <div th:each="el : ${reports}" class="alert alert-info mt-2">

            <p><b th:text="#{front.topic}"></b> <span th:text="${el.nameOfReport}"></span></p>

            <p><b th:text="#{report.date}"></b> <span th:text="${#temporals.format(el.createdDate, 'dd-MM-yyyy HH:mm')}"></span>
            </p>
            <a th:href="'/inspector/report/' + ${el.id}" class="btn btn-warning"> <span th:text="#{report.viewReport}"></span></a> <br>
            <div class="text-right">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Accept
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> Awaiting
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option3" autocomplete="off"> Refuse
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
            </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/inspector/report/page/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages + 1} and ${currentPage > 1}" th:href="@{'/inspector/report/page/' + ${currentPage - 1}}">Last</a>
                <span th:unless="${currentPage != 1}">Last</span>
            </div>
        </div>
    </div>

</div>
</body>
</html>