<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{front.tax}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:insert="blocks/header-inspector :: header"></div>

<div class="container mt-5 mb-5">
    <div th:each="el : ${editReport}">
        <h2 th:text="#{client.report}"></h2>
        <br> <br>

        <form action="/inspector/report/edit" method="post">

            <input type="hidden" th:value="${el.id}" name="id" class="form-control"><br>

            <h3 th:text="#{front.client}"></h3>
            <input disabled type="text" th:value="${el.lastName} + ' ' + ${el.firstName} + ' ' + ${el.middleName}"
                   name="middleName" class="form-control"><br>

            <h3 th:text="#{client.email}"></h3>
            <input disabled name="email" th:value="${el.email}" class="form-control"><br>

            <h3 th:text="#{front.report}"></h3>
            <textarea disabled name="report" th:text="${el.report}" class="form-control" rows="5" cols="33">
            </textarea><br>

            <h3 th:text="#{report.comment}"></h3>
            <textarea name="comment" th:text="${el.comment}" placeholder="Write your comment here" class="form-control" rows="5" cols="33">
            </textarea><br>

                    <button class="btn btn-success" value="ACCEPT" name="status" type="submit">ACCEPT</button>
                    <button class="btn btn-danger" value="REFUSE" name="status" type="submit">REFUSE</button>
        </form>
    </div>
</div>

</body>
</html>